* {
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:black;
}

label {
  padding-bottom: 10px;
}

input {
  font-family: Raleway, sans-serif;
  font-weight:bold;
  font-size:18px;
}

input[type="submit"] {
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor:pointer;
  line-height:48px;
}

input[type="text"], input[type="textarea"] {
  width:98%;
  margin-bottom: 20px;
}

:focus {
  outline:0;
}

/* HEADER */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
}

.header__logo {
  height: 48px;
  margin-right: 0.5em;
  vertical-align: top;
  margin-top: 12px;
}

.header__titles {
  font-weight: 300;
  margin: 0.5em 0.25em 0.5em 0em;
  vertical-align: bottom;
  display:inline-block;
}

.header__title {
  font-size: 2em;
  color: #212121;
}

.header__subtitle {
  font-size: 1.25em;
  color: grey;
  text-align: center;
  text-transform: uppercase;
}

/* MAIN */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* RESTAURANT */

.restaurant {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  font-size:1.5em;
}

.restaurant__one {
  display:block;
  width:100%;
  max-width:400px;
  padding: 0px 30px 30px 30px;
  text-align:center;
  line-height:48px;
}

.restaurant__image {
  width:100%;
  position: relative;
  background-image: url("https://scontent-vie1-1.xx.fbcdn.net/hphotos-xft1/v/t34.0-12/11667169_999151003462483_1381018953_n.jpg?oh=a5b6701e678c2217a4e2403ced990a9d&oe=55908D35");
  background-size: cover;
  height: 200px;
}

.restaurant__name {
  font-size: 1.25em;
  font-color:black;
  background-color: rgb(220,220,220);
}

.restaurant__options {
  display:flex;
  flex-wrap:wrap;
  font-weight:bold;
}

.restaurant__opt {
  width:50%;
  height:48px;
  background-color: black;
}

.restaurant__grey {
  color: rgb(220,220,220);
}

.restaurant__delete {
  color:red;
}

.restaurant__text {
  width:100%;
  padding: 0px 30px 20px 30px;
}

.restaurant__input {
  width:100%;
  padding: 0px 30px 20px 30px;
}

.restaurant__items {
  width: 100%;
}

.restaurant__item {
  width:100%;
  padding: 0pc 30px 3px 30px;
  display:flex;
  flex-wrap:wrap;
}

#item__price {
  width:50%;
  max-width: 200px;
  text-align: left;
}

#item__course {
  width:50%;
  text-align: right;
}

/* RESPONSIVE */
@media screen and (min-width: 400px) {
  #item__course {
    text-align: left;
  }
  #item__only {
    min-width: 400px;
  }
}

@media screen and (min-width: 450px) {
  .header__title {
    font-size: 2.5em;
  }
  .header__subtitle {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  .restaurant__one {
    width:50%;
  }
  #restaurant__arrow {
    padding-top: 50px;
    padding-right:0;
    padding-left:0;
  }
}

@media screen and (min-width: 620px) {
  .header__title {
    font-size: 4em;
    margin-left: 0.25em;
  }
  .header__subtitle {
    font-size: 2.5em;
    margin-left: 0.25em;
  }
  .header__logo {
    height: 72px;
    margin-left:30px;
    margin-right: 1em;
  }
}

@media screen and (min-width: 800px) {
  .restaurant__items {
    width:50%;
  }
}

@media screen and (min-width: 900px) {
  .restaurant__one {
    width:33.333333%;
  }
  #restaurant__only {
    min-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  main, .header__inner, .restaurant {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}