<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='../static/images/favicon.ico' />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' type='text/css' href="../static/styles.css">
<!--  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}"> -->
</head>

<body>
	<header class="header">
      <div class="header__inner">
        <img class="header__logo" src="../static/images/logo.png">
        <div class="header__titles">
        	<h1 class="header__title">Restaurant Network</h1>
        	<h2 class="header__subtitle">CHICKEN FRIED STEAK WELL</h2>
        </div>
      </div>
    </header>

    <main>
	    <section class="restaurant">
	    <h3 class="restaurant__text">Are you sure when deleting ... ?</h3>
	      	<div class="restaurant__one" id="restaurant__id">
	        	<div class="restaurant__image"></div>
	        	<div class="restaurant__options">
	          		<div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	          		<div class="restaurant__opt"><a class="restaurant__edit" href="#">Cancel</a></div>
	        	</div>
	     	</div>
	      	<div class="restaurant__one" id="restaurant__id">
		    	<div class="restaurant__text"><a href="#">&#8592; back to restaurants</a></div>
	       		<div class="restaurant__text"><a href="#">to restaurant menu &#8594;</a></div>
	        </div>
		</section>
	</main>
</body>

</html>