<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<header class="header">
      <div class="header__inner">
        <img class="header__logo" src="{{ url_for('static', filename='logo.png') }}">
        <div class="header__titles">
        	<h1 class="header__title">Restaurant Network</h1>
        	<h2 class="header__subtitle">{{editedRestaurant.name}}</h2>
        </div>
      </div>
    </header>

    <main>
<form action= "{{ url_for('editRestaurant', restaurant_id = editedRestaurant.id) }}" method = 'POST'>
	    <section class="restaurant">
	    	<h3 class="restaurant__text">Edit the restaurant</h3>
	      	<div class="restaurant__input">
				<div>
					<label for="name">Name</label>
					<div><input id="name" type='text' name='editedName' value='{{editedRestaurant.name}}'></div>
				</div>
				<div>
					<label for="description">Description</label>
					<div><input id="description" type='text' name='editedDescription' value='{{editedRestaurant.description}}'></div>
				</div>
				<div>
					<label for="city">City</label>
					<div><input id="city" type='text' name='editedCity' value='{{editedRestaurant.city}}'></div>
				</div>
				<div>
					<label for="state">State</label>
					<div><input id="state" type='text' name='editedState' value='{{editedRestaurant.state}}'></div>
				</div>
			</div>
	      	<div class="restaurant__one" id="restaurant__only">
	        	<div class="restaurant__image"></div>
	        	<div class="restaurant__options">
	          		<div class="restaurant__opt"><input type='submit' value="EDIT" class="restaurant__grey"></div>
	          		<div class="restaurant__opt"><a class="restaurant__grey" href="{{ url_for('editRestaurant', restaurant_id = editedRestaurant.id) }}">Refresh</a></div>
	        	</div>
	     	</div>

	      	<div class="restaurant__one" id="restaurant__arrow">
		    	<div class="restaurant__text"><a href="{{ url_for('showRestaurants') }}">&#8592; back to restaurants</a></div>
	       		<div class="restaurant__text"><a href="#">to restaurant menu &#8594;</a></div>
	        </div>
		</section>
</form>
	</main>
</body>

</html>