<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<header class="header">
      <div class="header__inner">
        <img class="header__logo" src="{{ url_for('static', filename='logo.png') }}">
        <div class="header__titles">
        	<h1 class="header__title">Restaurant Network</h1>
        </div>
      </div>
    </header>

    <main>
	    <section class="restaurant">
<form action= "{{ url_for('newRestaurant') }}" method = 'POST'>
	    	<h3 class="restaurant__text">Add your restaurant</h3>
	      	<div class="restaurant__input">
				<div>
					<label for="name">Name</label>
					<div><input id="name" type='text' name='newName'></div>
				</div>
				<div>
					<label for="description">Description</label>
					<div><input id="description" type='text' name='newDescription'></div>
				</div>
				<div>
					<label for="city">City</label>
					<div><input id="city" type='text' name='newCity'></div>
				</div>
				<div>
					<label for="state">State</label>
					<div><input id="state" type='text' name='newState'></div>
				</div>
			</div>

	      	<div class="restaurant__one" id="restaurant__only">
	        	<div class="restaurant__options">
	          		<div class="restaurant__opt"><input type='submit' value="CREATE" class="restaurant__grey"></div>
	          		<div class="restaurant__opt"><a class="restaurant__grey" href="{{ url_for('showRestaurants') }}">Cancel</a></div>
	        	</div>
	     	</div>

		    <div class="restaurant__one restaurant__text"><a href="{{ url_for('showRestaurants') }}">&#8592; back to restaurants</a></div>
</form>
		</section>
	</main>
</body>

</html>