<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='../static/images/favicon.ico' />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' type='text/css' href="../static/styles.css">
<!--  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}"> -->
</head>

<body>
	<header class="header">
      <div class="header__inner">
        <img class="header__logo" src="../static/images/logo.png">
        <div class="header__titles">
        	<h1 class="header__title">Restaurant Network</h1>
        </div>
      </div>
    </header>

    <main>
	    <section class="restaurant">
	      <h3 class="restaurant__text"><a href="#">Create new restaurant</a></h3>
	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      <div class="restaurant__one">
	        <div class="restaurant__image"></div>
	        <h2 class="restaurant__name">Restaurant name</h2>
	        <div class="restaurant__options">
	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
	        </div>
	      </div>

	      
	      
		</section>
	</main>
</body>

</html>