<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<header class="header">
      <div class="header__inner">
        <img class="header__logo" src="{{ url_for('static', filename='logo.png') }}">
        <div class="header__titles">
        	<h1 class="header__title">Restaurant Network</h1>
          <h2 class="header__subtitle">{{restaurant.name}}</h2>
        </div>
      </div>
    </header>

    <main>
	    <section class="restaurant">
        <h3 class="restaurant__text"><a href="#">Create new menu item</a></h3>
{% for item in items %}
        <div class="restaurant__items">
          <div class="restaurant__item"><em>{{ item.name }}</em></div>
          <div class="restaurant__item">
            <span id="item__price">{{ item.price }}</span>
            <span id="item__course">{{ item.course }}</span>
          </div>
          <div class="restaurant__item">{{ item.description }}</div>
  	      <div class="restaurant__one" id="item__only">
  	        <div class="restaurant__options">
  	          <div class="restaurant__opt"><a class="restaurant__grey" href="#">EDIT</a></div>
  	          <div class="restaurant__opt"><a class="restaurant__delete" href="#">DELETE</a></div>
  	        </div>
  	      </div>
        </div>
{% endfor %}
		</section>
	</main>
</body>

</html>